@model ATM.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row" style="text-align:center">
    <div>
        <div>
            <h2>Iniciar sesión</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div id="divMessage">
                    @Html.ValidationSummary()
                </div>

                <div id="divUsuario">
                    <label>Usuario:</label>
                    @Html.TextBoxFor(m => m.usuario)
                    @Html.ValidationMessageFor(m => m.usuario)
                </div>

                <div id="divPassword">
                    <label>Password:</label>
                    @Html.TextBoxFor(m => m.password)
                    @Html.ValidationMessageFor(m => m.password)
                </div>
                <div id="Botones">
                    <input id="BtnLogin" type="submit" class="btn btn-success btn-pressure" name="BtnLogin" value="Login" />
                    <input id="BtnReset" type="reset" class="btn btn-info btn-pressure" name="BtnReset" value="Reset" />
                </div>

            }
        </div>
    </div>
</div>